/*          Body            */
body {
    font-family: 'Roboto', sans-serif;
}

/*          Navbar          */
#miNavbar {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0;
    margin: 0;
}
#miNavbar ul {
    list-style: none;
    text-align: center;
    padding: 0;
    padding-left: 75px;
    margin: 0;
    display: flex;
    align-items: center;
  }
#miNavbar li {
    display: inline;
}
#miNavbar li a {
    text-decoration: none;
    color: white;
    padding: 50px;
}
.manzanita {
    width: 35px;
    height: 35px;
    padding-top: 10px;
}
.busquedas{
    width: 35px;
    height: 35px;
}
.compras {
    width: 35px;
    height: 35px;
}



/*          Portada         */
.miPortada {
    text-align: center;
    padding-left: 5em;
    padding-right: 5em;
}
.finances {
    font-size: 14px;
}
.nuevo {
    color: red;
    font-size: 14px;
}
.macTitle {
    font-size: 4.1em;
    margin-top: 0;
    margin-bottom: 0;
}
.macDescript {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
}
button {
    display: block;
    border-radius: 200px 200px 200px 200px;
    border: #0275d8;
    background-color: #0275d8;
    color: white;
}
.buttonBuy {
    margin: 0 auto;
    font-size: 18px;
    padding: 10px;
    width: 105px;
    margin-bottom: 20px;
}
.information {
    color: #0275d8;
    text-decoration: none;
}
.fotoPrincipal {
    display: block;
    padding-top: 5em;
    padding-bottom: 10em;
}

/*          Portada Izquierda           */
.leftPrincipal {
    background-color: rgb(242, 242, 242);
    width: 47%;
    height: 835px;
    margin-left: 20px;
    padding-top: 30px;
    text-align: center;
    float: left;
    display: inline;
    font-size: 2em;
    overflow: hidden;
}
.leftSideMiniTitle {
    margin-left: 150px;
    margin-right: 150px;
}
.leftSideTitle {
    margin-left: 150px;
    margin-right: 150px;
}
.leftSideButtonAccesories {
    margin: 0 auto;
    font-size: 18px;
    padding: 10px;
    width: 80px;
}
.leftSideImage {
    position: relative;
    right: 180px;
    margin-top: 100px;
    width: 150%;
    height: 355px;
}

/*          Portada Derecha         */
.rightPrincipal {
    background-color: rgb(242, 242, 242);
    width: 47%;
    height: 835px;
    margin-right: 20px;
    padding-top: 30px;
    text-align: center;
    float: right;
    display: inline;
    font-size: 2em;
}
.rightSideMiniTitle{
    margin-left: 150px;
    margin-right: 150px;
}
.rightSideTitle {
    margin-left: 150px;
    margin-right: 150px;
}
.rightSideParrf {
    margin-left: 150px;
    margin-right: 150px;
    font-size: 18px;
}
.rightSideLink {
    color: #0275d8;
    text-decoration: none;
    font-size: 18px;
    margin-top: 10px;
}
.rightSideImage {
    margin-top: 50px;
}

/*          Entrega Gratuita            */
.entregaGratuita {
    text-align: center;
    padding-bottom: 50px;
}
.box {
    margin-left: 400px;
    margin-right: 400px;
    padding-top: 150px;
}
.miBold {
    font-weight: bolder;
}

/*          Footer          */
footer {
    background-color: rgb(245, 245, 247);
    text-align: left;
}
.entornoFooter {
    padding-top: 15px;
    padding-left: 130px;
    padding-bottom: 25px;
}
.firstFooterText {
    color: rgb(81, 81, 84);
    font-size: 12px;
}
.secondFooterText {
    font-size: 12px;
}